body {
  margin: 0;
  font-family: Arial;
  color: #4B0082;
  background: #fff;
}

/* HERO */
.hero-section {
  padding: 80px 20px;
  text-align: center;
}

.hero-image {
  width: 180px;
  border-radius: 50%;
  margin: 20px 0;
}

.hero-text {
  max-width: 600px;
  margin: auto;
  font-size: 18px;
}

/* BUTTON */
.btn-cta {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

/* SERVICES */
.services-section {
  padding: 60px 20px;
  text-align: center;
}

.services-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.service-card {
  width: 260px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.service-icon {
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background: #E6E6FA;
  text-align: center;
  padding: 40px 20px;
}

.footer-socials a {
  margin: 0 10px;
  font-size: 22px;
  color: #4B0082;
}